.hero__img{
    position: relative;
}
.hero__container{
    padding-top: 60px;
    z-index: -1;
}
.hero__img::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255));
}